extends ../../layout/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug

    .row
      .col-12
        +box-head("Lời Mời đã gửi")
    .row
      each user in users 
        .col-4
          div(class="box-user add")
            div(class="inner-avatar")
              img(
                src= user.avatar ? user.avatar : "/images/logoUser.png"
                alt= user.fullName
              )
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-buttons")
                button(
                  class="btn btn-sm btn-primary mr-1"
                  btn-add-friend = user.id
                ) Kết bạn
                button(
                  class="btn btn-sm btn-secondary mr-1"
                  btn-cancel-friend = user.id
                ) Hủy
block js 
  script(src="/js/users.js") 
  